body
{
	background-color: #FF0;
	text-align: center;
}

#gradelist
{
	margin: 0 auto;
	width: 330px;
	list-style-type: none;
	padding: 0;
}
#gradelist li
{
	width: 320px;
	margin-bottom: 10px;
	float: left;
}
#gradelist a
{
	float: left;
	font-weight: bold;
	text-decoration: none;
	padding: 12px;
	background: red;
	color: red;
	font-size: 47px;
	font-family: helvetica;
	border-radius: 4px;
	border: 2px yellow;
	width: 320;
	text-align: center;
}
#gradelist a.visited
{
	text-decoration: none;
}
#spellhere
{
	border: 2px solid yellow;
	border-radius: 4px;
	background-color: red;
	line-height: 80px;
	width: 450px;
	text-align: center;
	font-family: helvetica;
	font-size: 69px;
	color: red;
	margin-bottom: 20px;
	margin-top: 30px;
}
#submitword	
{
	border: 2px solid yellow;
	color: white;
	background-color: red;
	font-size: 40px;
	font-family: helvetica;
	padding: 30px;
	line-height: 0px;
	border-radius: 4px;
}
.exercisetext
{
	color: red;
	font-size: 24px;
	font-family: helvetica;
}
#image
{
	top: 0px;
	margin-left: 50px;
	position: absolute;
}
#probsdropdown
{
	font-size: 30px;
	background-color: red;
	color: white;
	padding-left: 13px;
	position: relative;
	left: -15px;
	border: none;
	padding-right: 10px;
}
#dropdowncont
{
	display: inline-block;
	overflow: hidden;
	position: relative;
	height: 56px;
	margin-top: 50px;
	width: 102px;
	margin-bottom: 50px;
	padding-left: 0;
	border: 2px solid yellow;
	border-radius: 3px;
	margin-left: 35px;
}
.cylink
{
font-size: 21px;
font-family: helvetica;
text-decoration: none;
color: red;
border: 2px solid white;
border-radius: 3px;
padding-left: 10px;
padding-right: 10px;
}
